# ignore all results
checkpoints/
results
results/
results.tar
.tmp/
*.out

# ignore apptainer images and virtual environments
*.sif
ENV/
env/
.venv/

# ignore python caches
.pytest_cache
__pycache__
*.pyc
.cache
.pdm-python
pdm.lock

# ignore test experiments
test.json

# ignore editor settings
.vscode

# ignore build folder
build
build/
**.egg-info/

# ignore bash history
.bash_history

# ignore slurm scripts
slurm_scripts/
